﻿@page
@model RealtimeWebApi.Pages.ChannelsModel
@{
}

<head>
    <link href="~/css/channels.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="wrapper">

    <h2 class="header">@Model.Title</h2>
    @foreach (var channel in Model.Channels)
    {
        <div class="card">
            <div class="card-header">
                <span class="card-title">GUID: @channel.ChannelId</span>
            </div>
            <div class="card-body">
                <span>Тип данных: @channel.ChannelTypeName</span>
            </div>
        </div>
    }
</div>
</body>