.wrapper {
  padding: 30px;
}

.header {
  color: white;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.label {
  line-height: normal;
}

.controls-block {
  padding: 18px;
  border-radius: 10px;
  height: 50px;
}

.form-field {
  float: left;
  display: inline-block;
  width: 340px;
}

.input-label {
  color: white;
  margin-right: 10px;
}

.input {
  color: white;
}

.button {
  margin-left: 10px;
  width: 170px;
  font-size: 15px;
}
