<div class="wrapper">
  <h2 class="header">{{title}}</h2>
  <div class="controls-block">
    <mat-form-field class="form-field" style="margin-right: 20px">
      <mat-label class="input-label">URL:</mat-label>
      <input matInput class="input" placeholder="http://localhost:5000" [(ngModel)]="url"/>
    </mat-form-field>
    <mat-form-field class="form-field" style="margin-right: 15px">
      <mat-label class="input-label">Название метода:</mat-label>
      <input matInput class="input" placeholder="MethodName" [(ngModel)]="methodName"/>
    </mat-form-field>
    <div style="margin-top: 7px; float: right">
      <button mat-flat-button color="accent" class="button" (click)="connectToChannel()">Подключиться</button>
      <button class="button" mat-flat-button color="accent" (click)="disconnectFromChannel()">Отключиться</button>
      <button mat-flat-button color="warn" class="button" (click)="clearOutput()">Отчистить</button>
    </div>
  </div>
  <div style="margin-top: 15px">
    <div style="width: 17%; height: 40%; position: absolute; margin-top: -2px">
      <mat-form-field style="width: 100%; background-color: #272A38; padding: 15px">
        <mat-label class="input-label">Данные для отправки</mat-label>
        <textarea class="input" matInput placeholder="{}" style="width: 90%; min-height: 70%; padding: 10px"
                  [(ngModel)]="data"></textarea>
      </mat-form-field>
      <button (click)="sendRequest()" mat-flat-button color="warn" class="button"
              style="margin-top: 18px; margin-left: 16px; width: 100%">Отчистить
      </button>
    </div>
    <div style="width: 74%; height: 70%; position: absolute; right: 0; margin-right: 50px;">
      <textarea class="input" matInput readonly [(ngModel)]="output"
                style="width: 100%; resize: none; height: 100%; background-color: #272A38; padding: 10px"></textarea>
    </div>
  </div>
</div>
