﻿body {
    background: #12151E;
    font-family: Tahoma;
    margin: 0;
    padding: 0;
}


.wrapper { padding: 30px; }

.header {
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.card {
    line-height: 120%;
    margin: 0 24%;
    margin-bottom: 14px;
}

.card-header {
    background: #2B2F41;
    border-radius: 8px 8px 0 0;
    margin: 0;
    padding: 16px;
}

.card-title {
    color: white;
    font-size: 18px;
    line-height: 24px;
}

.card-body {
    background: #272A38;
    border-radius: 0 0 8px 8px;
    color: #8C99B2;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 16px;
}